[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start = "uvicorn main:app --host 0.0.0.0 --port 8000  --workers 4 --reload"
